<div class="about">
   <div class="container">
      <div class="row">
         <div class="photo"></div>
         <div class="text">
            <ul>

               <li class="text__item ">
                  <span><strong>Name:</strong> Jon Doe</span>
               </li>

               <li class="text__item work">
                  <span><strong>Place of work:</strong></span>
                  <ul class="list__work work">
                     <li>Web.by</li>
                     <li>VK</li>
                     <li>Amazon Co</li>
                     <li>Google</li>
                  </ul>
               </li>

               <li class="text__item tech">
                  <span><strong>Steak technology:</strong></span>
                  <ul class="list__tech">
                     <li>JS</li>
                     <li>Angular</li>
                     <li>React</li>
                     <li>Vue</li>
                  </ul>
               </li>

            </ul>
         </div>
      </div>
   </div>
</div>