/** @format */

.container {
}
.contacts {
  // .contacts__list

  &__list {
    list-style: none;
    color: #fff;
  }

  // .contacts__item

  &__item {
    padding: 0.5rem;
    span {
      font-size: 1.5rem;
    }
  }
}
