<div class="container">
   <div class="projects">
      <div class="project__item">
         <a href="#">GTX auto</a>
      </div>
      <div class="project__item">
         <a href="#">Viber</a>
      </div>
      <div class="project__item">
         <a href="#">GoogleFonts</a>
      </div>
      <div class="project__item">
         <a href="#">DataBase</a>
      </div>
      <div class="project__item">
         <a href="#">FlagB4B</a>
      </div>
      <div class="project__item">
         <a href="#">LinKonline</a>
      </div>
   </div>
</div>